.custom-color {
    color: #FF5E19;
}

.header-title {
    font-size: 70px;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.player-img {
    height: 250px;
    width: 100%;
}